:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --text-main-color: #000000;
  --text-color: #ffffff;
  --accent-color: #2196f3;
}
body {
  background-color: #fff;
  font-family: 'Roboto', font-family;
  color: var(--primary-text-color);
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
  cursor: pointer;
}

.link {
  text-decoration: none;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

/*base stile*/
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section.no-padding {
  padding-top: 0;
  padding-bottom: 0;
}

.centered {
  text-align: center;
}

img {
  display: block;
}

/*Header section*/
.logo {
  color: var(--text-main-color);
  font-family: 'Raleway';
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  width: 145px;
  margin-left: 215px;
}

.logo-word {
  color: var(--accent-color);
}

.header-mail {
  color: var(--accent-color);
}

/*Site nav*/

.link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: block;
  padding-left: 32px;
  padding-right: 32px;
}
.current {
  color: var(--accent-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.contacts-link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contacts .contacts-link:hover,
.contacts .contacts-link:focus {
  color: var(--accent-color);
}

/*Hero*/
.hero {
  background-color: #2f303a;
  text-align: center;
  margin-top: 94px;
}
.hero-title {
  color: var(--text-color);
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.hero-button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  color: var(--text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  text-align: center;
}

/*Features section*/

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.features .features-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.features-discription {
  font-size: 14px;
  line-height: 1.71;
}

/*About section*/
.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  margin-bottom: 50px;
}

/*Team section*/
.team-section {
  background-color: #f5f4fa;
}
.team-section .subtitle {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.section-title {
  margin-bottom: 50px;
}
.team-position {
  line-height: calc(19 / 16);
  text-align: center;
}

.teaam-item {
 
  margin-bottom: 50px;
 
}

.subtitle  {
  margin-bottom: 10px;
}

/*Footer sectiom*/
.footer {
  background-color: #2f303a;
}
.footer .footer-word {
  color: var(--accent-color);
}
.footer .logo {
  color: var(--text-color);
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.contacts-item .contacts-link {
  font-family: normal;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
}
.contacts-item .contacts-link:hover {
  color: var(--accent-color);
}

.footer .contacts-adress {
  color: var(--text-color);
  background-color: #2f303a;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
}
.footer .contacts-adress:hover {
  color: var(--accent-color);
  font-style: normal;
}

/*Portfolio*/
.portfolio-item {
  color: var(--title-text-color);
}

.filter button {
  font-family: inherit;
  color: var(--title-text-color);
  background-color: F5F4FA;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  cursor: pointer;
}

.filter button:hover,
.filter button:focus {
  color: var(--text-color);
  background-color: var(--accent-color);
}

.portfolio .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio .text {
  color: var(--primary-text-color);
  line-height: 1.88;
}

.portfolio .link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
